{% extends "base.html" %}

{% block content %}
<h1>Stephanie and Divesh's Wedding Date : {{wedDate}}</h1>
<h3>Wedding Address</h3>
<p>
Blue Heron Ballroom At
Fort Harrison State Park<br>
5753 Glenn Road<br>
Indianapolis, IN 46216<br>
(317) 591-0904
</p>

<iframe width="500" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Fort+Harrison+State+Park,+Indianapolis,+IN&amp;aq=0&amp;oq=Fort+Benjimen+harriso&amp;sll=47.272986,-120.882277&amp;sspn=5.25534,11.634521&amp;ie=UTF8&amp;hq=Fort+Harrison+State+Park,+Indianapolis,+IN&amp;t=m&amp;ll=39.862185,-86.008873&amp;spn=0.065883,0.085831&amp;z=13&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Fort+Harrison+State+Park,+Indianapolis,+IN&amp;aq=0&amp;oq=Fort+Benjimen+harriso&amp;sll=47.272986,-120.882277&amp;sspn=5.25534,11.634521&amp;ie=UTF8&amp;hq=Fort+Harrison+State+Park,+Indianapolis,+IN&amp;t=m&amp;ll=39.862185,-86.008873&amp;spn=0.065883,0.085831&amp;z=13" style="color:#0000FF;text-align:left">View Larger Map</a></small>
<p> If you are planning to stay at Fort Harrison, clik 
<a href="http://www.in.gov/dnr/parklake/inns/ftharrison/groups.html">Here</a> to book a room
</p>
{% endblock %}